apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
- clusterrole.yaml
- clusterrolebinding.yaml
- configmap.yaml
- cronjob.yaml
- daemonset.yaml
- deployment.yaml
- job.yaml
- role.yaml
- rolebinding.yaml
- service.yaml
- serviceaccount.yaml
