apiVersion: apps/v1
kind: Deployment
metadata:
  name: ceph-csi-controller-manager
  labels:
    control-plane: controller-manager
    app.kubernetes.io/name: ceph-csi
    app.kubernetes.io/instance: rook-ceph
    app.kubernetes.io/version: "v0.4.1"
spec:
  replicas: 1
  selector:
    matchLabels:
      control-plane: ceph-csi-op-controller-manager
      app.kubernetes.io/name: ceph-csi
      app.kubernetes.io/instance: rook-ceph
  template:
    metadata:
      labels:
        control-plane: ceph-csi-op-controller-manager
        app.kubernetes.io/name: ceph-csi
        app.kubernetes.io/instance: rook-ceph
      annotations:
        kubectl.kubernetes.io/default-container: manager
    spec:
      containers:
      - args:
        - --leader-elect
        command:
        - /manager
        env:
        - name: OPERATOR_NAMESPACE
          valueFrom:
            fieldRef:
              fieldPath: metadata.namespace
        - name: CSI_SERVICE_ACCOUNT_PREFIX
          value: "ceph-csi-"
        - name: WATCH_NAMESPACE
          value: ""
        - name: KUBERNETES_CLUSTER_DOMAIN
          value: "cluster.local"
        image: quay.io/cephcsi/ceph-csi-operator:v0.4.1
        livenessProbe:
          httpGet:
            path: /healthz
            port: 8081
          initialDelaySeconds: 15
          periodSeconds: 20
        name: manager
        readinessProbe:
          httpGet:
            path: /readyz
            port: 8081
          initialDelaySeconds: 5
          periodSeconds: 10
        resources:
          limits:
            cpu: 500m
            memory: 128Mi
          requests:
            cpu: 10m
            memory: 64Mi
        securityContext:
          allowPrivilegeEscalation: false
          capabilities:
            drop:
            - ALL
          readOnlyRootFilesystem: true
      imagePullSecrets: []
      securityContext:
        runAsNonRoot: true
      serviceAccountName: ceph-csi-controller-manager
      terminationGracePeriodSeconds: 10
---
kind: Deployment
apiVersion: apps/v1
metadata:
  name: rook-ceph-operator
  namespace: rook-ceph # namespace:operator
  labels:
    operator: rook
    storage-backend: ceph
    app.kubernetes.io/name: rook-ceph
    app.kubernetes.io/instance: rook-ceph
    app.kubernetes.io/version: v1.18.7
    app.kubernetes.io/part-of: rook-ceph-operator
spec:
  replicas: 1
  selector:
    matchLabels:
      app: rook-ceph-operator
  strategy:
    type: Recreate
  template:
    metadata:
      labels:
        app: rook-ceph-operator
    spec:
      tolerations:
        - effect: NoExecute
          key: node.kubernetes.io/unreachable
          operator: Exists
          tolerationSeconds: 5
      containers:
        - name: rook-ceph-operator
          image: "docker.io/rook/ceph:v1.18.7"
          imagePullPolicy: IfNotPresent
          args: ["ceph", "operator"]
          securityContext:
            capabilities:
              drop:
              - ALL
            runAsGroup: 2016
            runAsNonRoot: true
            runAsUser: 2016
          volumeMounts:
            - mountPath: /var/lib/rook
              name: rook-config
            - mountPath: /etc/ceph
              name: default-config-dir
          env:
            - name: ROOK_CURRENT_NAMESPACE_ONLY
              value: "false"
            - name: ROOK_HOSTPATH_REQUIRES_PRIVILEGED
              value: "false"
            - name: ROOK_DISABLE_DEVICE_HOTPLUG
              value: "false"
            - name: ROOK_DISCOVER_DEVICES_INTERVAL
              value: "60m"
            - name: NODE_NAME
              valueFrom:
                fieldRef:
                  fieldPath: spec.nodeName
            - name: POD_NAME
              valueFrom:
                fieldRef:
                  fieldPath: metadata.name
            - name: POD_NAMESPACE
              valueFrom:
                fieldRef:
                  fieldPath: metadata.namespace
          resources:
            limits:
              memory: 512Mi
            requests:
              cpu: 200m
              memory: 128Mi
      serviceAccountName: rook-ceph-system
      volumes:
        - name: rook-config
          emptyDir: {}
        - name: default-config-dir
          emptyDir: {}
