apiVersion: cdi.kubevirt.io/v1beta1
kind: DataVolume
metadata:
  name: fcos-os-disk-volume
spec:
  source:
    registry:
      url:
       docker://quay.io/fedora/fedora-coreos-kubevirt:stable
  storage:
    volumeMode: Filesystem
    resources:
      requests:
        storage: 10Gi
    accessModes:
      - ReadWriteOnce
