apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - ../../../manifests/external-dns

patches:
  - target:
      kind: Deployment
      name: external-dns
    patch: |-
      - op: replace
        path: /spec/template/spec/containers/0/args/7
        value: --domain-filter=local.nhlabs.org
